@page "/"
@using Oracle.ManagedDataAccess.Client

<h1>DBからSQLで検索</h1>
<input type="text" @bind="searchtext" />
<button @onclick="search">検索</button>
<br />
<br />
@if (list.Count() == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Kokyo_cd</th>
                <th>Yubin_5</th>
                <th>Yubin_7</th>
                <th>Todofuke_kana</th>
                <th>City_kana</th>
                <th>Tyo_kana</th>
                <th>Todofuken</th>
                <th>City</th>
                <th>Tyo</th>
            </tr>
        </thead>

        @foreach (Data.Data table in list)
        {
            <tr>
                <td>@table.Kokyo_cd</td>
                <td>@table.Yubin_5</td>
                <td>@table.Yubin_7</td>
                <td>@table.Todofuke_kana</td>
                <td>@table.City_kana</td>
                <td>@table.Tyo_kana</td>
                <td>@table.Todofuken</td>
                <td>@table.City</td>
                <td>@table.Tyo</td>
            </tr>
        }
    </table>
}

@code {
    public string searchtext = "";
    List<Data.Data> list = new List<Data.Data>();


    public void search()
    {
        list.Clear();
        string dbstring = "Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=host)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=xe)));User Id=userid;Password=password";
        string sql = "select * from yubin where todofuken || CITY || TYO || YUBIN_7 like :kensaku";
        using (OracleConnection con = new OracleConnection(dbstring))
        {
            con.Open();
            using (OracleCommand command = new OracleCommand(sql, con))
            {
                command.Parameters.Add(new OracleParameter("kensaku", $"%{searchtext}%"));
                OracleDataReader reader = command.ExecuteReader();

                while (reader.Read())
                {
                    Data.Data table = new Data.Data();
                    table.Kokyo_cd = reader.GetString(0);
                    table.Yubin_5 = reader.GetString(1);
                    table.Yubin_7 = reader.GetString(2);
                    if (!reader.IsDBNull(3))
                    {
                        table.Todofuke_kana = reader.GetString(3);
                    }
                    if (!reader.IsDBNull(4))
                    {
                        table.City_kana = reader.GetString(4);
                    }
                    if (!reader.IsDBNull(5))
                    {
                        table.Tyo_kana = reader.GetString(5);
                    }
                    if (!reader.IsDBNull(6))
                    {
                        table.Todofuken = reader.GetString(6);
                    }
                    if (!reader.IsDBNull(7))
                    {
                        table.City = reader.GetString(7);
                    }
                    if (!reader.IsDBNull(8))
                    {
                        table.Tyo = reader.GetString(8);
                    }
                    list.Add(table);
                }

            }
        }
    }
}